{
  "bracketSpacing": true,
  "jsxBracketSameLine": false, //React only
  "jsxSingleQuote": false, //React only
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid"
}
